.info {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.info__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}
.info__desc {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 45px;
}
.info__btn {
    display: inline-block;
    background-color: $blue;
    color: $white;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 50px;
}
.illustration {
    width: 50%;
}
.illustration__pic {
    width: 100%;
}
.section__pic {
    position: absolute;
    top: 0;
    right: 100%;
}